* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-navbar {
  padding: 15px 120px;
  display: flex;
  justify-content: space-between;
  background: #411416;
}

.icon-and-email {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 7px;
}

.email {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}

.orange-btn {
    border: 1px solid #D48C3E;
    border-radius: 4px;
    padding: 7px 18px;
    background: #D48C3E;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
}

.second-navbar {
    margin: 0 120px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon-and-name {
    display: flex;
    align-items: center;
}

.nav-name {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #440D11;
}

.nav-list {
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #411416;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-img {
    position: relative;
    overflow: hidden;
}

.info-on-header-img {
    position: absolute;
    top: 450px;
    left: 300px;
}

.the-best-text {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 57px;
    line-height: 69px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.we-fight-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.header-btns {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.we-offer-heading{
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
}

.second-img-and-info {
    margin-top: 40px;
    display: flex;
}

.second-img {
    width: 650px;
    height: 400px;
}

.second-part-info {
    background: #491013;
    padding: 20px;
}

.welcome-to-dera-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.Our-team-of-ever-ready-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}

#Our-team-of-ever-ready {
    margin-bottom: 50px;
}

.overall-full-box {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.full-box {
    width: 300px;
    height: 807px;
}

.icon-and-law-type-name {
    padding: 15px;
    border: 2px solid #000000;
    text-align: center;
}

.full-box-law-type-name {
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #D48C3E;
    margin-top: 10px;
}

.full-box-colored-part {
    padding: 50px 14px;
    background: #491013;
    text-align: center;
}

.colored-part-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.94);
    margin-bottom: 50px;
}